include ../../tasks/task.jade

div(ng-controller='View2')#bottom-block
    .vertical-lines
        - var n = 2
        while n <= 9
            .col(class="col" + n++)
    .bottom-block-header
        .col-title
            h3
                | Scheduled
                br
                | tasks
        .col-late-tasks
            .header-row: h4 LATE TASKS
            .sub-header-row: small {{period.lateTasksTotalHours}}  h
        .col-not-assigned-tasks: .header-row: h4 NOT ASSIGNED TASKS
    .task-grid.hide-scroll: .scroll-viewport
        .col-title
            p
        .col-late-tasks.hide-scroll: .scroll-viewport: .tasks: ul: li.task(ng-repeat='task in view.tasksOverdue')
            +task('task')
        .col-not-assigned-tasks: .tasks
            .scroll-wrapper
                .draw-area
                    .block(ng-repeat="day in $parent.view.days", class="col{{$index}}", rms-view2-day-drop-task='', style="left: {{$index*3/21*100}}%" )
                ul
                    li.task(ng-repeat='taskView in view.tasksNotassigned' style="left:{{taskView.x*3/21*100}}%; top:{{taskView.y*55}}px; width: {{taskView.len*3/21*100}}%")
                        +task('taskView.task')
