#modal-changes(ng-controller='ViewChanges' view-changes-fix='' ng-switch-when='changes' style='height:{{Math.max(200, layout.height - 80)}}px')
    h3 CHANGES
    table.main-table.header
        thead
            th: div Type
            th: div Title
            th: div Property
            th: div New value
            th: div Conflict
            th
    .table-scroll(style='height:{{Math.max(200 - 100, layout.height - 80 - 100)}}px')
        table.main-table.data
            tr(ng-repeat-start='item in view.changes' ng-if='!item.error' ng-class='{dark: item.isDark}')
                td: div {{item.doc.$ds_docType}}
                td: div {{item.doc.title}}
                td: div {{item.prop}}
                td: div {{item.value}}
                td: div {{item.conflict}}
                td: img(ng-if='item.remove' src="./images/icons/recycling-can.svg" ng-click='item.remove()').icon-remove
            tr(ng-repeat-end='' ng-if='item.error' class='error' ng-class='{dark: item.isDark}')
                td: | &nbsp;
                td(colspan='4'): | Error: {{item.error}}
                td: | &nbsp;
    .btn-group
        ul
            li(ng-click='view.changes.length && reset()' ng-class='{disabled: !view.changes.length}'): table: tr
                td: img(src='./images/icons/recycling-man.svg')
                td reset
            li(ng-click='showChanges()').changes-modal-close: table: tr
                td: img(src='./images/icons/close.svg').close
                td close
            li(ng-click='view.changes.length && save()' ng-class='{disabled: !view.changes.length}').changes-modal-save: table: tr
                td: img(src='./images/icons/fly.svg')
                td save
