div(ng-controller='View3', style='width:{{layout.area3.width}}px;height:{{layout.area3.height}}px')#sidebar
    .sub-header(ng-class='{narrow: layout.area3.width < 420}')
        ul.tabs(ng-show='layout.area3.width >= 250')
            li(rms-view3-drop-task='0' ng-click='sidebarTabs.clickSideBarTab(0)' ng-class='{active: sidebarTabs.active == 0}') {{layout.area3.width < 440 ? 'NO DUE DATE' : 'WITHOUT DUE DATE'}}
            li(rms-view3-drop-task='1' ng-click='sidebarTabs.clickSideBarTab(1)' ng-class='{active: sidebarTabs.active == 1}') NEXT WEEK
            li(ng-click='sidebarTabs.clickSideBarTab(2)' ng-class='{active: sidebarTabs.active == 2}') {{layout.area3.width < 440 ? 'ALL TASKS' : 'ALL TASKS BY PROJECT'}}
    .content-block
        .load-spinner(ng-if="view.dataStatus =='load'")
            .spinner
                .dot1
                .dot2
        ul.tasks-block.no-scroll(rms-view3-drop-task='', style='height:{{layout.area3.height - 55}}px')
            .scroll-viewport
                .scroll-body
                    li(ng-repeat='project in view.projects' ng-click='toggleProjectExpanded(project); $event.stopPropagation()')
                        table.project: tr
                            td
                                i(ng-if='!isProjectExpanded(project)').fa.fa-caret-down
                                i(ng-if='isProjectExpanded(project)').fa.fa-caret-up
                            td
                                h3 {{project.project.name}}
                        .task-list(ng-repeat='todoList in project.todoLists' ng-if='isProjectExpanded(project)')
                            div(ng-click='todoList.isExpand = !todoList.isExpand; $event.stopPropagation()').task-list-title
                                table.todo-list: tr
                                    td
                                        i(ng-if='!todoList.isExpand').fa.fa-caret-down
                                        i(ng-if='todoList.isExpand').fa.fa-caret-up
                                    td
                                        h4 {{todoList.todoList.name}} (Tasks: {{todoList.tasksCount}}. Estimate: {{filter.taskPeriod(todoList, 'totalEstimate')}} )
                            table(ng-if='todoList.isExpand').task-list-items
                                tr(ng-repeat='task in todoList.tasks')
                                    td.col1
                                        div(rms-task='task', ng-model='task').view3-task {{task.title}}
                                    td.col2
                                        strong {{filter.taskPeriod(task, 'estimate')}}
