#screen1(ui-layout='', style='width:{{layout.width}}px;height:{{layout.height + 40}}px')

    include ./views/view1/view1.jade

    div(ng-switch='modal.type')
        include ./tasks/taskEdit.jade
        include ./tasks/taskInfo.jade
        include ./tasks/taskDragGhost.jade
        include ./views/changes/changes.jade

include ./account/account.jade
