form(ng-switch-when='task-edit' rms-task-edit='' style='top:{{top}}px;left:{{left}}px')#task-modal
    .task-modal-wrapper-main
        .task-modal-row
            .task-modal-row-title Project:
            a(href="{{config.teamwork + 'projects/' + task.project.id}}" target='_blank').task-modal-row-value {{task.project.name}}
        .task-modal-row
            .task-modal-row-title Todo list:
            a(href="{{config.teamwork + 'tasklists/' + task.todoList.id}}" target='_blank').task-modal-row-value {{task.todoList.name}}

        .task-modal-row(ng-if='!task.$u.title')
            .task-modal-row-title Title:
            a(href="{{config.teamwork + 'tasks/' + task.id}}" target='_blank').task-modal-row-value  {{task.title}}
        .task-modal-row(ng-if='task.$u.title')
            .task-modal-row-title Title:
            input(type='text' ng-model='edit.title').task-modal-title
            a(href="{{config.teamwork + 'tasks/' + task.id}}" target='_blank')
                img(src="./images/icons/link.svg").task-modal-icon-link
        .task-modal-row(ng-if='!task.$u.estimate')
            .task-modal-row-title Estimate:
            .task-modal-row-value {{filter.taskPeriod(task, 'estimate')}}
        .task-modal-row(ng-if='task.$u.estimate' widget-duration='' ng-model='edit.estimate')
            .task-modal-row-title Estimate:
            input(type='number').task-modal-estimate-hours
            span.task-modal-estimate-duration h
            input(type='number').task-modal-estimate-minutes
            span.task-modal-estimate-duration m
            img(src="./images/icons/recycling-can.svg" ng-click="edit.estimate = null").task-modal-icon-recycling
            span.p-l-1rem(ng-if='edit.splitDiff' style='color:yellow') {{filter.periodDiff(edit.splitDiff)}}
        .task-modal-row(ng-if='task.$u.estimate')
            .task-modal-row-title Split:
            input(type="checkbox" name="is-split" ng-model='edit.isSplit')
            button.btn.auto-split(ng-click='autoSplit()' ng-disabled='!edit.isSplit || edit.duedate == null || edit.duedate < today || edit.estimate == null || edit.responsible == null') AutoSplit
        .task-modal-row(ng-if='!task.$u.duedate')
            .task-modal-row-title DueDate:
            .task-modal-row-value {{filter.taskEditDueDate(edit.duedate)}}
        // Note: widget-date cannot be on <input /> since angularjs has own directive input[type=text]
        .task-modal-row(ng-if='task.$u.duedate' widget-date='' ng-model='edit.duedate')
            .task-modal-row-title DueDate:
            input(type='text').task-modal-duedate
            img(src="./images/icons/recycling-can.svg" ng-click="edit.duedate = null").task-modal-icon-recycling
        .task-modal-row(ng-if='!task.$u.responsible')
            .task-modal-row-title Person:
            .task-modal-row-value {{task.responsible.title}}
        .task-modal-row(ng-if='task.$u.responsible').overflow-visible
            .task-modal-row-title Person:
            ui-select(ng-model='edit.responsible', theme='selectize', ng-disabled='disabled', title='Choose a person').task-modal-person
                ui-select-match(placeholder='Select a person...') {{$select.selected.name}}
                ui-select-choices(repeat='person in people | filter: {name: $select.search}')
                    div(ng-bind-html='person.name | highlight: $select.search')
            img(src="./images/icons/recycling-can.svg" ng-click="edit.responsible = null").task-modal-icon-recycling.icon-after-select

    .task-modal-wrapper-split(ng-if='edit.splitView')
        table
            thead
                th
                th(ng-repeat='week in edit.splitView') {{week.monday.format('MM/DD/YYYY')}}
            tbody
                tr.row-total-time(ng-repeat-start="dow in ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']")
                    td
                    //td(ng-repeat='week in edit.splitView' ng-class='{select:week.days[$parent.$index].select}') {{showTimeLeft(week.days[$parent.$index]) || '&nbsp;'}}
                    td(ng-repeat='week in edit.splitView' ng-class='{warn:(week.days[$parent.$index].timeLeftShow < 0)}') {{filter.timeLeft(week.days[$parent.$index].timeLeftShow) || '&nbsp;'}}
                tr(ng-repeat-end='')
                    td {{dow}}
                    td(ng-repeat='week in edit.splitView' ng-class='{select:week.days[$parent.$index].select}')
                      .task-split-estimate-wrapper(widget-duration='' ng-model='week.days[$parent.$index].plan.val')
                        input(type='number' tabindex='{{20 + (2 * $parent.$index) + (20 * $index)}}').task-modal-estimate-hours
                        input(type='number' tabindex='{{21 + (2 * $parent.$index) + (20 * $index)}}').task-modal-estimate-minutes
                tr
                    td
                    td.table-icon-arrow(ng-click='splitPrevWeek()'): img(src='./images/icons/arrow-left.svg')
                    td
                    td.table-icon-arrow(ng-click='splitNextWeek()'): img(src='./images/icons/arrow-right.svg')


    .form-btn-row
        .btn-group
            button.btn(type='submit' ng-if='!viewonly' ng-disabled='!changes' ng-click='save()') Save
            button.btn.right(ng-click='close()') Close
