doctype html
html(lang='en', ng-app='app')
  head
    title {{pageTitle}}
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(type='text/css', rel='stylesheet', href='style#{min}.css', media='screen,projection')

  body

    .drop-element Drop Element 1
    .drop-element Drop Element 2
    .drop-element Drop Element 3

    .drop-target Drop Target 1
    .drop-target Drop Target 2
    .drop-target Drop Target 3

    #drop-ghost It's a drop ghost: '{{dropText}}'

    // Scripts
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.1.0#{min}.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular#{min}.js')
    script(type='text/javascript', src="index#{min}.js")
